attrs==16.3.0
Automat==0.5.0
beautifulsoup4==4.5.3
cffi==1.9.1
chardet==2.3.0
colorama==0.3.7
constantly==15.1.0
cryptography==1.7.2
cssselect==1.0.1
Django==1.10.4
djangorestframework==3.5.4
feedfinder2==0.0.4
feedparser==5.2.1
html5lib==0.999999999
httpie==0.9.9
idna==2.5
incremental==16.10.1
jieba3k==0.35.1
lxml==3.7.3
newspaper3k==0.1.9
nltk==3.2.2
numpy==1.12.0
olefile==0.44
parsel==1.1.0
Pillow==4.0.0
plyfile==0.4
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==16.2.0
python-dateutil==2.6.0
PyYAML==3.12
queuelib==1.4.2
readability-lxml==0.6.2
requests==2.13.0
requests-file==1.4.1
service-identity==16.0.0
six==1.10.0
textblob==0.12.0
tldextract==2.0.2
virtualenv==15.1.0
w3lib==1.17.0
webencodings==0.5
zope.interface==4.3.3
