appdirs==1.4.3
beautifulsoup4==4.5.3
cssselect==1.0.1
dj-database-url==0.4.2
Django==1.10.6
django-cors-headers==2.0.2
djangorestframework==3.6.2
feedfinder2==0.0.4
feedparser==5.2.1
gunicorn==19.7.0
idna==2.5
jieba3k==0.35.1
lxml==3.7.3
newspaper3k==0.1.9
nltk==3.2.2
olefile==0.44
packaging==16.8
parse==1.8.0
Pillow==4.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
PyYAML==3.12
requests==2.13.0
requests-file==1.4.1
six==1.10.0
tldextract==2.0.2
