{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please follow the link provided below and set a new password:" %}
    {% block reset_link %}

        {{ domain }}/forgotpassword/{{ uid }}/{{ token }}/
       
    {% endblock %}
{% trans "Username:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}